
/* SPECIFIC TO DISPLAY SIZE */
.btn-views{
  height: 32px;
  width: 70px;
  font-size: 10px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

#label-group{
  cursor: pointer;
  fill: #A9A9A9;
  font-size: 10px;
}

.supplement-title{
  font-size: 10px;
  display: block;
  margin: 0px 0px 10px 0px;
  padding-left: 10px;
}

#summary-text{
  font-size: 10px;
}

.text-larger{
  font-size: 13px;
}

.btn-stories{
  font-size: 10px;
}

#summary{
  min-height: 256px;
}

#data-info{
  margin-top: 30px;
  font-size: 10px;
  padding-left: 10px;
}

@media only screen and (min-width: 1500px){
  .btn-views{
    height: 40px;
    width: 84px;
    font-size: 12px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }

  #label-group{
    cursor: pointer;
    fill: #A9A9A9;
    font-size: 12px;
  }

  .supplement-title{
    font-size: 12px;
    display: block;
    margin: 20px 0px 15px 0px;
    padding-left: 10px;
  }

  #summary-text{
    font-size: 12px;
  }

  #summary{
    min-height: 300px;
    margin-top: 40px;
  }

  .text-larger{
    font-size: 15px;
  }

  .btn-stories{
    font-size: 12px;
  }

  #animal-type-div{
    padding-top: 15px;
  }

  #data-info{
    margin-top: 50px;
    font-size: 10px;
    padding-left: 10px;
  }
}

/* GENERAL STYLE */

button:focus{
  outline: 0;
}

.hidden{
  display: none;
}

body{
  font-weight: lighter;
}

.container{
  max-width: 94%;
}

#idle{
  text-align: center;
}

#idle-text-g{
  position: fixed;
}

#title-idle{
  display: block;
  margin: 80px 0px 80px 0px;
  font-size: 40px;
  font-weight: bolder;
  text-anchor: middle;
}

#btn-idle{
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 40px;
  padding: 14px 30px;
  margin: 5px;
  font-size: 20px;
  font-weight: bolder;
}

#content{
  margin-top: 20px;
}

#visualization{
}

#supplemental{
  max-width: 300px;
  opacity: 0;
}

h1{
  /* margin-top: 40px; */
  /* margin-left: 20px; */
  display: inline;
  font-size: 26px;
  font-weight: lighter;
  /* text-align: center; */
}

#timeCount{
  /* text-align: right; */
  /* opacity: 0.3; */
  padding-left: 5px;
  font-weight: bolder;
}

.arc-intake path, .arc-outcome path{
  fill: #A9A9A9;
  stroke: #fff;
  stroke-width: 2px;
  cursor: pointer;
}

.label-intake{
  /* text-anchor: end; */
}

#arc-SHELTER path, #label-SHELTER{
  fill:	#D3D3D3;
  /* fill: #DCDCDC; */
}

.axis path, .axis .tick line, #axis-count path, #axis-count .tick line{
  stroke: white;
}

#bar-context-duration text{
  font-size: 8px;
}

.bold{
  font-weight: bold;
}

.bars-intake, .bars-outcome, .bars-duration{
  fill: #A9A9A9;
}

#btn-group-views{
  opacity: 0;
  position: absolute;
  top: 50px;
  left: 15px;
}

#btn-views-flow{
  border-radius: 20px 0px 0px 20px;
}

#btn-views-duration{
  border-radius: 0px 20px 20px 0px;
}

.btn-animal{
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  padding: 5px 10px;
  margin: 2px;
  color: white;
  background-color: black;
  border: 1px solid white;
  /* text-align: center; */
}

.btn-animal-clicked{

}

.btn-stories{
  cursor: pointer;
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 8px 16px;
  margin: 5px;
}

.btn-clicked{
  background-color: black;
  color: white;
}

.icon-labels{
  font-size: 10px;
}

.centered{
  display: block;
  margin-left: 10px;
  /* margin-left: auto;
  margin-right: auto; */
}
